<% if trip.distance.present? %>
  <span class="text-md"><%= trip.distance_for_user(current_user).round %> <%= distance_unit %></span>
<% else %>
  <span class="text-md">Calculating...</span>
  <span class="loading loading-dots loading-sm"></span>
<% end %>
