<% if trip.distance.present? %>
  <span class="text-md"><%= trip.distance %> <%= current_user.safe_settings.distance_unit %></span>
<% else %>
  <span class="text-md">Calculating...</span>
  <span class="loading loading-dots loading-sm"></span>
<% end %>
