<div class="mx-auto md:w-2/3 w-full">
  <h1 class="font-bold text-4xl">New background job</h1>

  <%= render "form", settings_background_job: @settings_background_job %>

  <%= link_to "Back to background jobs", settings_background_jobs_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
</div>
