<div class="fixed top-5 right-5 flex flex-col gap-2 z-50" id="flash-messages">
  <% flash.each do |type, message| %>
    <%= render 'shared/flash_message', type: type, message: message %>
  <% end %>
</div>
