<footer class="footer bg-base-200 text-content-neutral p-4">
  <aside>
    <p><a href="https://dawarich.app/" class="link hover:no-underline" target="_blank">Dawarich</a> 2023-<%=Time.zone.now.year %></p>
  </aside>
</footer>
