<footer class="footer footer-center p-4 bg-base-300 text-base-content">
  <aside>
    <p><a href="https://dawarich.app/" class="link hover:no-underline" target="_blank">Dawarich</a> 2023-<%=Time.zone.now.year %></p>
  </aside>
</footer>
