<footer class="footer bg-base-200 text-neutral p-4">
  <nav>
    <h6 class="footer-title"><strong>Dawarich</strong></h6>
    <p>
      Made and hosted in 🇪🇺 Europe
    </p>
    <p>
      Copyright © <%= Time.zone.now.year %> ZeitFlow UG
    </p>
  </nav>
  <nav>
    <h6 class="footer-title"><strong>Community</strong></h6>
    <a class="hover:underline" href="https://discord.gg/pHsBjpt5J8" target="_blank">Discord</a>
    <a class="hover:underline" href="https://x.com/freymakesstuff" target="_blank">X</a>
    <a class="hover:underline" href="https://github.com/Freika/dawarich" target="_blank">Github</a>
    <a class="hover:underline" href="https://mastodon.social/@dawarich" target="_blank">Mastodon</a>
  </nav>
  <nav>
    <h6 class="footer-title"><strong>Docs</strong></h6>
    <a class="hover:underline" href="https://dawarich.app/docs/intro" target="_blank">Tutorial</a>
    <a class="hover:underline" href="https://dawarich.app/docs/tutorials/import-existing-data" target="_blank">Import existing data</a>
    <a class="hover:underline" href="https://dawarich.app/docs/tutorials/export-your-data" target="_blank">Exporting data</a>
    <a class="hover:underline" href="https://dawarich.app/docs/FAQ" target="_blank">FAQ</a>
    <a class="hover:underline" href="https://dawarich.app/contact" target="_blank">Contact</a>
  </nav>
  <nav>
    <h6 class="footer-title"><strong>More</strong></h6>
    <a class="hover:underline" href="https://dawarich.app/privacy-policy" target="_blank">Privacy policy</a>
    <a class="hover:underline" href="https://dawarich.app/terms-and-conditions" target="_blank">Terms and Conditions</a>
    <a class="hover:underline" href="https://dawarich.app/refund-policy" target="_blank">Refund policy</a>
    <a class="hover:underline" href="https://dawarich.app/impressum" target="_blank">Impressum</a>
    <a class="hover:underline" href="https://dawarich.app/blog" target="_blank">Blog</a>
  </nav>
</footer>
