<section class="hero min-h-[60vh]">
  <div class="hero-content text-center">
    <div class="max-w-md">
      <h1 class="text-3xl font-bold">{t(@locale, @scope <> "." <> @heading, %{})}</h1>
      <p class="py-4">{t(@locale, @scope <> "." <> @body, %{})}</p>
    </div>
  </div>
</section>
