[Unit]
Description=DaWarIch Service
Wants=network-online.target system-postgresql.slice redis-server.service
After=network-online.target system-postgresql.slice redis-server.service

[Service]
Type=simple
User=dawarich
WorkingDirectory=/service/dawarich/dawarich
EnvironmentFile=-/service/dawarich/dawarich/systemd/environment
ExecStart=/service/dawarich/dawarich/docker/web-entrypoint.sh bin/rails server -p 3000 -b ::

[Install]
WantedBy=multi-user.target