<%= form_with model: import, class: "contents", data: {
  controller: "direct-upload",
  direct_upload_url_value: rails_direct_uploads_url,
  direct_upload_user_trial_value: current_user.trial?,
  direct_upload_target: "form"
} do |form| %>
  <label class="form-control w-full max-w-xs my-5">
    <div class="label">
      <span class="label-text">Select one or multiple files</span>
    </div>
    <%= form.file_field :files,
        multiple: true,
        direct_upload: true,
        class: "file-input file-input-bordered w-full max-w-xs",
        data: { direct_upload_target: "input" } %>
    <div class="text-sm text-gray-500 mt-2">
      Files will be uploaded directly to storage. Please be patient during upload.
    </div>
  </label>

  <div class="inline">
    <%= form.submit class: "rounded-lg py-3 px-5 bg-blue-600 text-white inline-block font-medium cursor-pointer",
        data: { direct_upload_target: "submit" } %>
  </div>
<% end %>
