<div class="mx-auto md:w-2/3 w-full">
  <h1 class="font-bold text-4xl">New import</h1>

  <div role="alert" class="alert alert-info my-5">
    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" class="stroke-current shrink-0 w-6 h-6"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"></path></svg>
    <span>To import <code>Records.json</code> file from your Google Takeout Archive, use rake task</span>
  </div>

  <%= render "form", import: @import %>

  <%= link_to "Back to imports", imports_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
</div>
