development:
  adapter: redis
  url: <%= "#{ENV.fetch("REDIS_URL")}/#{ENV.fetch('RAILS_WS_DB', 2)}" %>

test:
  adapter: test

production:
  adapter: redis
  url: <%= "#{ENV.fetch("REDIS_URL")}/#{ENV.fetch('RAILS_WS_DB', 2)}" %>
  channel_prefix: dawarich_production
