/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.emoji-icon {
  font-size: 36px; /* Adjust size as needed */
  text-align: center;
  line-height: 36px; /* Same as font-size for perfect centering */
}

.timeline-box {
  overflow: visible !important;
}

/* Style for the settings panel */
.leaflet-settings-panel {
  background-color: white;
  padding: 10px;
  border: 1px solid #ccc;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
}

.leaflet-settings-panel label {
  display: block;
  margin-bottom: 5px;
}

.leaflet-settings-panel input {
  width: 100%;
  margin-bottom: 10px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.leaflet-settings-panel button {
  padding: 5px 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.leaflet-settings-panel button:hover {
  background-color: #0056b3;
}
