/* Ensure fog overlay is positioned relative to the map container */
#fog {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8); /* Adjust the opacity here */
  pointer-events: none;
  mix-blend-mode: multiply;
  z-index: 1000;
}

.unfogged-circle {
  position: absolute;
  pointer-events: none;
  border-radius: 50%;
  background: white;
  mix-blend-mode: destination-out;
  filter: blur(3px); /* Apply no blur to the circles */
}
