<% content_for :title, "Exports" %>

<div class="w-full">
  <div class="flex justify-between items-center">
    <h1 class="font-bold text-4xl">Exports</h1>
  </div>

  <div id="imports" class="min-w-full">
    <div class="overflow-x-auto">
      <table class="table">
        <thead>
          <tr>
            <th>Name</th>
            <th>Status</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <% @exports.each do |export| %>
            <tr>
              <td><%= export.name %></td>
              <td><%= export.status %></td>
              <td>
                <%= link_to 'Download', export.url, class: "px-4 py-2 bg-blue-500 text-white rounded-md", download: export.name %>
                <%= link_to 'Delete', export, data: { confirm: "Are you sure?", turbo_confirm: "Are you sure?", turbo_method: :delete }, method: :delete, class: "px-4 py-2 bg-red-500 text-white rounded-md" %>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
